<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

   
    <title>Spis tel</title>
  </head>
  <body >
    
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><h1>Urząd m. st. Warszawy <br>Dzielnica Białołęka</h1></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6"><img src='C:/Users/pgrabowski/Desktop\Moje projekty/flask-książka/ksiazka/static/images/syrenka.png'></div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6"><h2>SPIS TELEFONÓW</h2></div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6"><h4>Wszelkie zmiany w spisie telefonów prosimy zgłaszać <br>
                drogą elektroniczną na adres: <br><p>bialoleka.wod@um.warszawa.pl</p></h4></div>
            <div class="col-xs-3"></div>
        </div>
        
    </div>
        <div class="container">
            {% for wydzial in wydzialy %}
            <div class="row">
                <h3>{{ wydzial.wydzial_pelny }} {{ wydzial.wydzial_krotko }}</h3>
            </div>
            <div class="row">
                <div class="col-xs-1">Pokój</div>
                <div class="col-xs-3"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-2">Tel. wewnetrzny</div>
                <div class="col-xs-2">Tel. bezposredni</div>
            </div>
            {% for referat in referaty %}
            {% if referat.referat_pelny != 'BRAK' %}
            {% if referat.wydzial_id == wydzial.id %}
            <div class="row"> 
                <div id="referat">{{ referat.referat_pelny }} {{ referat.referat_krotko }}</div>
            </div>
            {% endif %}
            {% endif %}
            {% for urzednik in urzedniki %}
            {% if referat.id == urzednik.referat_id %}
            {% if wydzial.id == urzednik.wydzial_id %}
            
            <div class="row" id='dane_osobowe'>
                <div class="col-xs-1">{{ urzednik.pokoj }}</div>
                <div class="col-xs-4">{{ urzednik.opis }}</div>
                <div class="col-xs-3">{{ urzednik.imie }} {{ urzednik.nazwisko }}</div>
                <div class="col-xs-2"> {{ urzednik.tel_wew }}</div>
                <div class="col-xs-2">{{ urzednik.telefon }}</div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>

    
