<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="wybranyCertId" value="SN=Kuźniar, G=Mariusz Wojciech, CN=Mariusz Wojciech Kuźniar, SERIALNUMBER=PNOPL-61101407299, C=PL" />
        <add key="wybranyCertName" value="(do 2021-06-01) SN=Kuźniar, G=Mariusz Wojciech, CN=Mariusz Wojciech Kuźniar, SERIALNUMBER=PNOPL-61101407299, C=PL" />
    </appSettings>
</configuration>