{% extends 'base.html' %}
{% load static %} 
{% block title %} Slider delete{% endblock %}

{% block content %}
<div class=container>
    <form method="post" action="" enctype="multipart/form-data" class="post-form">{% csrf_token %}
      <h3>Czy na pewno chcesz usunąc: {{ object.Nazwa }}</h3>
      <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Usuń">
    <a class="btn btn-primary" href="{% url 'slider_list' %}">Powrót</a>
</div>
  </form>
     
  </div>



{% endblock %}